{% extends 'base.html' %}
{% load static %}
{% block content %}  
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>R&D 지원 검토 사례</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <section class="contact-section section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 border-bottom">
                    <h2 class="contact-title">검토 작업 목록</h2>
                </div>
                <div class="col-lg-10 m-3">
                    <p>진행중 / 완료 목록 확인</p>
                </div>
                <div class="col-lg-10">
                    {% for case in cases %}
                    <article class="blog_item border">
                        <div class="blog_details">
                            <div class="blog_badges">
                                {% if case.inprocess %}<span class="badge bg-success">검토중</span>{% else %}<span class="badge bg-secondary">완료</span>{% endif %}
                            </div>
                            <a class="d-inline-block" href="{% url 'rnd:case_detail' case.id %}">
                                <h2>1차 보고서</h2>
                            </a>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}